<a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink
    }}{{ else }}{{ .Site.BaseURL | relLangURL }}{{ end }}"
    style="text-decoration: none;">

    {{$currentFileName := lower .Page.Name }}
    {{ if .Page.IsPage }} {{$currentFileName = path.Clean $currentFileName }}
    {{end}}


    <!--    {{ $path := printf "/home/%v/%s"  (.IsNode)  (.LinkTitle | relURL | lower) }} -->

    {{ range $index, $component := .Params.components }}
    {{ $path := $component | printf "%s/%s" $.Site.Params.componentdir | printf "%s" }}
    {{ partial $path }}
    {{ end }}   

    {{$path := path.Clean $path }}


    <div class="logo">
        <span class="logo__mark">
            {{$path}}
            {{ path.Dir .Permalink}}
        </span>
        <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{
            else }}hello{{ end }}</span>

        <span class="logo__cursor"> </span>

    </div>
</a>
